# Logs
logs
*.log

# Node modules
node_modules/

# Build outputs
dist/
dist-ssr/
coverage/
target/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Others
*.local
*.tsbuildinfo
.eslintcache

# Test outputs
surefire-reports/
__screenshots__/